<section class="container-about">
    <div class="container-10">
        <div class="heading">
          <div class="sub-text">
            <div class="rectangle-18">
            </div>
            <div class="container-6">
              <span class="vchng-ti">
              Về chúng tôi
              </span>
            </div>
          </div>
          <div class="text">
          Giải pháp vận chuyển hàng hóa an toàn và đáng tin cậy
          </div>
        </div>
        <div class="content">
          <div class="container">
            <div class="container-1">
              <div class="icon">
                <img class="icon-1" src="../assets/vectors/icon8_x2.svg" />
              </div>
              <div class="text">
                <div class="line">
                </div>
                <div class="text-1">
                  <div class="text-1">
                  Dịch vụ vận tải đường biển
                  </div>
                  <div class="text-2">
                  Chất lượng dịch vụ của chúng tôi đã được nhiều khách hàng tin tưởng.
                  </div>
                </div>
              </div>
            </div>
            <div class="container-1">
                <div class="icon">
                  <img class="icon-1" src="../assets/vectors/icon4_x2.svg" />
                </div>
                <div class="text">
                  <div class="line">
                  </div>
                  <div class="text-1">
                    <div class="text-1">
                    Dịch vụ kho bãi
                    </div>
                    <div class="text-2">
                    Chất lượng dịch vụ của chúng tôi đã được nhiều khách hàng tin tưởng.
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-1">
                <div class="icon">
                  <img class="icon-1" src="../assets/vectors/icon5_x2.svg" />
                </div>
                <div class="text">
                  <div class="line">
                  </div>
                  <div class="text-1">
                    <div class="text-1">
                        Dịch vụ vận tải hàng không
                    </div>
                    <div class="text-2">
                    Chất lượng dịch vụ của chúng tôi đã được nhiều khách hàng tin tưởng.
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-1">
                <div class="icon">
                  <img class="icon-1" src="../assets/vectors/icon_x2.svg" />
                </div>
                <div class="text">
                  <div class="line">
                  </div>
                  <div class="text-1">
                    <div class="text-1">
                        Dịch vụ vận chuyển địa phương
                    </div>
                    <div class="text-2">
                    Chất lượng dịch vụ của chúng tôi đã được nhiều khách hàng tin tưởng.
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
</section>