<head>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");
    </style>
  </head>
  <footer>
    <div class="upper-footer">
      <div class="upper-footer-logo">Logo</div>
      <div class="upper-footer-column">
        <div class="upper-footer-item-header">Liên kết</div>
        <div class="upper-footer-item">Đăng ký</div>
        <div class="upper-footer-item">Về chúng tôi</div>
      </div>
      <div class="upper-footer-column">
        <div class="upper-footer-item-header">Khác</div>
        <div class="upper-footer-item">Câu hỏi thường gặp</div>
        <div class="upper-footer-item">Liên hệ</div>
        <div class="upper-footer-item">Hợp pháp</div>
        <div class="upper-footer-item">Chính sách bảo mật</div>
        <div class="upper-footer-item">Các điều khoản và điều kiện</div>
      </div>
      <div class="upper-footer-column">
        <div class="upper-footer-item-header">Sản phẩm</div>
        <div class="upper-footer-item">Gửi hàng</div>
        <div class="upper-footer-item">Trả hàng</div>
        <div class="upper-footer-item">Mua hàng</div>
      </div>
      <div class="upper-footer-column">
        <p class="upper-footer-news-registration">
          Đăng ký nhận bản tin của chúng tôi và là người đầu tiên biết về các cập
          nhật của chúng tôi
        </p>
        <div class="upper-footer-registration-field">
          <input
            type="text"
            placeholder="Địa chỉ Email"
            class="upper-footer-registration-input"
          />
          <button class="upper-footer-registration-btn">Gửi</button>
        </div>
      </div>
    </div>
    <div class="lower-footer">
      <p class="lower-footer-text">Copyright © 2020. All rights reserved.</p>
      <div class="lower-footer-social-media">
        <i class="lower-footer-social-media fa-brands fa-instagram"></i>
        <i class="lower-footer-social-media fa-brands fa-facebook"></i>
        <i class="lower-footer-social-media fa-brands fa-twitter"></i>
        <i class="lower-footer-social-media fa-brands fa-linkedin"></i>
      </div>
    </div>
  </footer>