<footer>
  <div class="upper-footer columns is-multiline">
    <div
      class="upper-footer-logo column is-4-desktop is-12-tablet is-12-mobile"
    >
      Logo
    </div>
    <div
      class="upper-footer-column column is-2-desktop is-6-tablet is-6-mobile"
    >
      <div class="upper-footer-item-header">Liên kết</div>
      <div class="upper-footer-item">Đăng ký</div>
      <div class="upper-footer-item">Về chúng tôi</div>
    </div>
    <div
      class="upper-footer-column column is-2-desktop is-6-tablet is-6-mobile"
    >
      <div class="upper-footer-item-header">Khác</div>
      <div class="upper-footer-item">Câu hỏi thường gặp</div>
      <div class="upper-footer-item">Liên hệ</div>
      <div class="upper-footer-item">Hợp pháp</div>
      <div class="upper-footer-item">Chính sách bảo mật</div>
      <div class="upper-footer-item">Các điều khoản và điều kiện</div>
    </div>
    <div
      class="upper-footer-column column is-2-desktop is-6-tablet is-6-mobile"
    >
      <div class="upper-footer-item-header">Sản phẩm</div>
      <div class="upper-footer-item">Gửi hàng</div>
      <div class="upper-footer-item">Trả hàng</div>
      <div class="upper-footer-item">Mua hàng</div>
    </div>
    <div
      class="upper-footer-column column is-2-desktop is-12-tablet is-12-mobile"
    >
      <p class="upper-footer-news-registration">
        Đăng ký nhận bản tin của chúng tôi và là người đầu tiên biết về các cập
        nhật của chúng tôi
      </p>
      <div class="upper-footer-registration-field">
        <input
          type="text"
          placeholder="Địa chỉ Email"
          class="upper-footer-registration-input"
        />
        <button class="upper-footer-registration-btn">Gửi</button>
      </div>
    </div>
  </div>
  <div style="width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;">
    <p class="lower-footer-text">Copyright © 2020. All rights reserved.</p>
    <div class="lower-footer-social-media">
      <a><img class="lower-footer-social-media-icon" width="24" height="24" src="../../../assets/vectors/instagram1_x2.svg" /></a>
      <a><img class="lower-footer-social-media-icon" width="24" height="24" src="../../../assets/vectors/vector3_x2.svg" /></a>
      <a><img class="lower-footer-social-media-icon" width="24" height="24" src="../../../assets/vectors/vector7_x2.svg" /></a>
      <a><img class="lower-footer-social-media-icon" width="24" height="24" src="../../../assets/vectors/vector5_x2.svg" /></a>
    </div>
  </div>
</footer>