<div class="content-1">
    <div class="background">
      <div class="container-16">
        <div class="photo-1">
        </div>
        <div class="background-3">
        </div>
      </div>
    </div>
    <div class="about-1">
      <div class="background-4">
      </div>
      <div class="content-2">
        <div class="content-3">
          <div class="text-8">
            <div class="sub-text-1">
              <div class="pattern">
              </div>
              <div class="frame-3">
                <span class="ti-sao-nn-chn-chng-ti">
                Tại sao nên chọn chúng tôi
                </span>
              </div>
            </div>
            <div class="text-9">
              <div class="chng-ti-cung-cp-gii-php-hu-cn-ton-cuy">
              Chúng tôi cung cấp giải pháp hậu cần toàn cầu đầy đủ
              </div>
              <span class="tn-dng-cc-khun-kh-linh-hot-cung-cp-bn-tm-tt-mnh-mcho-chin-lc-thcy-tduy-hp-tc-nhm-nng-cao-xut-gi-tr-tng-th-pht-trin-mt-cch-tnhin-th-gii-quan-ton-din-vi-mi-mang-tnht-ph-thng-qua-sa-dng-vtrao-quyn-ti-ni-lm-vic">
              Tận dụng các khuôn khổ linh hoạt để cung cấp bản tóm tắt mạnh mẽ cho chiến lược thúc đẩy tư duy hợp tác nhằm nâng cao đề xuất giá trị tổng thể.<br />
              <br />
              Phát triển một cách tự nhiên thế giới quan toàn diện về đổi mới mang tính đột phá thông qua sự đa dạng và trao quyền tại nơi làm việc.
              </span>
            </div>
          </div>
          <div class="content-4">
            <div class="container-6">
              <img class="icon-8" src="../assets/vectors/icon7_x2.svg" />
              <span class="giao-hngng-hn">
              Giao hàng đúng hạn
              </span>
            </div>
            <div class="container-6">
              <img class="icon-8" src="../assets/vectors/icon3_x2.svg" />
              <span class="giao-hngng-hn">
              Chi phí đi lại được tối ưu hóa
              </span>
            </div>
          </div>
        </div>
        <div class="image">
          <div class="image-1">
            <div class="photo-2">
            </div>
          </div>
          <div class="image-2">
            <div class="patttern">
            </div>
            <div class="container-14">
              <div class="photo-3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>