<!-- Tin tức -->
<div id="news-section">
  <p class="section-title">Tin tức mới nhất của chúng tôi</p>
  <div class="news-items-column">
    <!-- Tin tức placeholder -->
    <div class="news-item columns is-multiline">
      <img
        src="../../../assets/images/photo.jpeg"
        alt="Hình ảnh tin tức"
        class="news-image column is-6-desktop is-12-tablet is-12-mobile"
      />
      <div
        class="news-right-block column is-6-desktop is-12-tablet is-12-mobile"
      >
        <p class="news-title">
          Vận chuyển hàng hóa nội địa giải pháp xứng đáng cho doanh nghiệp của
          bạn
        </p>
        <div class="news-published-date">Ngày đăng: 09/09/2024</div>
        <p class="news-description">
          Chúng tôi tận tâm tạo ra giá trị gia tăng cho khách hàng bằng cách áp
          dụng công nghệ hiện đại vào công việc của mình.
        </p>
      </div>
    </div>
    <div class="news-item columns is-multiline">
      <img
        src="../../../assets/images/photo.jpeg"
        alt="Hình ảnh tin tức"
        class="news-image column is-6-desktop is-12-tablet is-12-mobile"
      />
      <div
        class="news-right-block column is-6-desktop is-12-tablet is-12-mobile"
      >
        <p class="news-title">
          Vận chuyển hàng hóa nội địa giải pháp xứng đáng cho doanh nghiệp của
          bạn
        </p>
        <div class="news-published-date">Ngày đăng: 09/09/2024</div>
        <p class="news-description">
          Chúng tôi tận tâm tạo ra giá trị gia tăng cho khách hàng bằng cách áp
          dụng công nghệ hiện đại vào công việc của mình.
        </p>
      </div>
    </div>
    <div class="news-item columns is-multiline">
      <img
        src="../../../assets/images/photo.jpeg"
        alt="Hình ảnh tin tức"
        class="news-image column is-6-desktop is-12-tablet is-12-mobile"
      />
      <div
        class="news-right-block column is-6-desktop is-12-tablet is-12-mobile"
      >
        <p class="news-title">
          Vận chuyển hàng hóa nội địa giải pháp xứng đáng cho doanh nghiệp của
          bạn
        </p>
        <div class="news-published-date">Ngày đăng: 09/09/2024</div>
        <p class="news-description">
          Chúng tôi tận tâm tạo ra giá trị gia tăng cho khách hàng bằng cách áp
          dụng công nghệ hiện đại vào công việc của mình.
        </p>
      </div>
    </div>

    <!-- Kết thúc tin tức placeholder -->
  </div>
  <a href="" class="more-news-button">Xem thêm</a>
</div>