<div class="project">
    <div class="content">
        <h1 class="heading">Vận chuyển khắp thế giới</h1>
        <div class="image">
            <div class="item-image">
                <img src="../assets/images/photo4.png" alt="">
                <div class="text">
                    <h2>Vận chuyển chất lỏng </h2>
                    <p>Tàu chở đầu cao cấp</p>
                </div>
            </div>
            <div class="item-image">
                <img src="../assets/images/photo3.png" alt="">
                <div class="text">
                    <h2>Hợp đồng hậu cần </h2>
                    <p>Vận tải đường bộ</p>
                </div>
            </div>
            <div class="item-image">
                <img src="../assets/images/photo2.png" alt="">
                <div class="text">
                    <h2>Vận tải chuyên dụng</h2>
                    <p>Vận tải biển</p>
                </div>
            </div>
            <div class="item-image">
                <img src="../assets/images/photo1.png" alt="">
                <div class="text">
                    <h2>Kho & Phân phối </h2>
                    <p>Kho lớn</p>
                </div>
            </div>
        </div>

        <div class="content">
            <!-- Các phần tử khác -->
            <div class="button-container">
                <button class="button">Xem thêm</button>
            </div>
        </div>

    </div>

    <div class="background">

    </div>
</div>