<head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
  </style>
</head>
<body>
  <app-navbar></app-navbar>
  <!-- Tin tức -->
  <div id="news-section">
    <p class="section-title">Tin tức mới nhất của chúng tôi</p>
    <div class="news-items-column">
      <!-- Tin tức placeholder -->
      <div class="news-item">
        <img
          src="../../../assets/images/photo.jpeg"
          alt="Hình ảnh tin tức"
          class="news-image"
        />
        <div class="news-right-block">
          <p class="news-title">
            Vận chuyển hàng hóa nội địa giải pháp xứng đáng cho doanh nghiệp của
            bạn
          </p>
          <div class="news-published-date">Ngày đăng: 09/09/2024</div>
          <p class="news-description">
            Chúng tôi tận tâm tạo ra giá trị gia tăng cho khách hàng bằng cách
            áp dụng công nghệ hiện đại vào công việc của mình.
          </p>
        </div>
      </div>
      <div class="news-item">
        <img
          src="../../../assets/images/photo.jpeg"
          alt="Hình ảnh tin tức"
          class="news-image"
        />
        <div class="news-right-block">
          <p class="news-title">
            Vận chuyển hàng hóa nội địa giải pháp xứng đáng cho doanh nghiệp của
            bạn
          </p>
          <div class="news-published-date">Ngày đăng: 09/09/2024</div>
          <p class="news-description">
            Chúng tôi tận tâm tạo ra giá trị gia tăng cho khách hàng bằng cách
            áp dụng công nghệ hiện đại vào công việc của mình.
          </p>
        </div>
      </div>
      <div class="news-item">
        <img
          src="../../../assets/images/photo.jpeg"
          alt="Hình ảnh tin tức"
          class="news-image"
        />
        <div class="news-right-block">
          <p class="news-title">
            Vận chuyển hàng hóa nội địa giải pháp xứng đáng cho doanh nghiệp của
            bạn
          </p>
          <div class="news-published-date">Ngày đăng: 09/09/2024</div>
          <p class="news-description">
            Chúng tôi tận tâm tạo ra giá trị gia tăng cho khách hàng bằng cách
            áp dụng công nghệ hiện đại vào công việc của mình.
          </p>
        </div>
      </div>
      <!-- Kết thúc tin tức placeholder -->
    </div>
    <a href="" class="more-news-button">Xem thêm</a>
  </div>
  <app-footer></app-footer>
</body>
