<div class="contact">
  <div class="form">
    <div class="content-7">
      <div class="text-10">
        <div class="title">
          <div class="sub-text-2">
            <div class="pattern-4"></div>
            <div class="contact-1">
              <span class="lin-h"> Liên hệ </span>
            </div>
          </div>
          <span class="hy-lin-lc-vi-chng-ti"> Hãy liên lạc với chúng tôi </span>
        </div>
        <span
          class="tn-dng-cc-khun-kh-linh-hot-cung-cp-bn-tm-tt-mnh-mcho-chin-lc-thcy-tduy-hp-tc-nhm-nng-cao-gi-tr-tng-th"
        >
          Tận dụng các khuôn khổ linh hoạt để cung cấp bản tóm tắt mạnh mẽ cho
          chiến lược thúc đẩy tư duy hợp tác nhằm nâng cao giá trị tổng thể.
        </span>
      </div>
      <div class="content-8">
        <div class="mail">
          <img class="icon-10" src="../assets/vectors/icon1_x2.svg" />
          <div class="text">
            Email<br />
            contact&#64;logistics.com
          </div>
        </div>
        <div class="call">
          <div class="icon-11">
            <img class="vector-43" src="../assets/vectors/vector6_x2.svg" />
          </div>
          <div class="text">
            Gọi cho tôi<br />
            (00) 112 365 489
          </div>
        </div>
        <div class="mail">
          <img class="icon-10" src="../assets/vectors/icon2_x2.svg" />
          <div class="text">
            Thứ hai - Thứ 7 9.00-18.00<br />
            Chủ nhật đóng cửa<br />
          </div>
        </div>
      </div>
    </div>
    <div class="form-1">
      <div class="container-20">
        <input type="text" placeholder="Địa chỉ Email" class="input-text" />

        <!-- <div class="mail-1">
          <span class="email">
            Email*
          </span>
        </div> -->
      </div>
      <!-- <div class="container-21">
        <div class="phone">
          <span class="sin-thoi">
            Số điện thoại*
          </span>
        </div>
        <div class="city">
          <span class="thnh-ph">
            Thành phố*
          </span>
        </div>
      </div> -->
      <!-- <div class="container-22">
        <div class="message">
          <span class="li-nhn">
            Lời nhắn
          </span>
        </div>
        <div class="button-1">
          <span class="gi">
            Gửi
          </span>
        </div>
      </div> -->
    </div>
  </div>
  <!-- <div class="client-logo">
    <div class="client-logo-1">
      <div class="container-23">
        <div class="background-26"></div>
        <div class="image-4">
          <div class="background-28"></div>
          <img class="star" src="../assets/vectors/star_x2.svg" />
          <p class="studio-green">
            <span class="studio-green-sub-0"></span><span></span>
          </p>
        </div>
      </div>
      <div class="container-15">
        <div class="image-6">
          <div class="background-32"></div>
          <div class="logo">
            <span class="points-one">
              Points<br />
              one
            </span>
            <img class="icon-13" src="../assets/vectors/icon11_x2.svg" />
          </div>
        </div>
        <div class="container-27">
          <div class="image-7">
            <div class="background-34"></div>
            <span class="out-of-the-sand-box">
              OutOfThe<br />
              Sand Box
            </span>
            <div class="container-4">
              <div class="pattern-10"></div>
            </div>
          </div>
        </div>
        <div class="container-26">
          <div class="line-13"></div>
        </div>
      </div>
      <div class="container-24">
        <div class="container-25">
          <div class="image-5">
            <div class="background-30"></div>
            <img class="norto" src="../assets/vectors/norto_x2.svg" />
          </div>
        </div>
        <div class="line-8"></div>
      </div>
      <div class="line-12"></div>
      <div class="line-14"></div>
    </div>
    <div class="line-7"></div>
  </div> -->
</div>
